* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 12in;
  height: 100%;
  margin: 0 auto;
  background-color: #fdf6e3;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

#app > * {
  flex-grow: 0;
}

#main {
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

.nutcalc-editor {
  width: 60%;
  height: 85vh;
  padding: 0.25ex;
  border: 1px solid #657b83;
}

.nutcalc-repl {
  background: black;
  padding: 4px;
  width: 35%;
  height: 85vh;
}
